Repository MHSoquiat/Serverless-API: changes, and which GitLab CI jobs are due for each by the changed paths.
All: setup-backend, test-root, build-root

.gitlab-ci.yml:

stages:
  - backend
  - test
  - build
  - deploy 

before_script:
  - apt-get update -y
  - apt-get install -y curl unzip
  - TF_VERSION="1.13.5"
  - curl -L -o terraform.zip "https://releases.hashicorp.com/terraform/${TF_VERSION}/terraform_${TF_VERSION}_linux_amd64.zip"
  - unzip terraform.zip
  - mv terraform /usr/local/bin
  - terraform --version

# --- Backend Setup (Runs infrequently/manually) ---
setup-backend: 
  stage: backend
  script:
    - cd statefile-locking
    - terraform init
    - terraform validate
    - terraform apply --auto-approve
  rules:
    - if: '$CI_COMMIT_TITLE =~ /backend-setup/'
      when: manual
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - statefile-locking/**/*
      when: on_success
    - when: never

# --- Backend Vars Retrieval (Always runs to satisfy dependencies) ---
get-backend-vars:
  stage: backend
  script:
    - cd statefile-locking
    - terraform init
    - 'terraform output -raw statefile | awk -v name="TF_STATE_BUCKET" "{print name\"=\"\$0}" > backend.env'
    - echo "Successfully retrieved TF_STATE_BUCKET from state."
  artifacts:
    reports:
      dotenv: backend.env
  when: on_success 

# --- Root Jobs: Test (Plan/Validation) ---
test-root:
  stage: test
  needs:
    - get-backend-vars
  script:
    - cd root
    - echo "Using backend S3 bucket $TF_STATE_BUCKET"
    - terraform init -backend-config="bucket=$TF_STATE_BUCKET"
    - terraform validate
    - terraform plan
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - root/**/*
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - root/**/*

# --- Root Jobs: Build (Apply) ---
build-root:
  stage: build
  needs:
    - get-backend-vars
  script:
    - cd root
    - terraform init -backend-config="bucket=$TF_STATE_BUCKET"
    - terraform apply --auto-approve
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - root/**/*
      when: on_success
    - when: never

Test Pipeline
  .gitlab-ci.yml
  root/main.tf
  statefile-locking/main.tf
Due: setup-backend, test-root, build-root

Test Pipeline
  root/main.tf
  statefile-locking/main.tf
Due: setup-backend, test-root, build-root

Test Pipe
  .gitlab-ci.yml
  root/main.tf
Due: test-root, build-root

Test Pipe pt.2
  .gitlab-ci.yml
  root/main.tf
  statefile-locking/outputs.tf
Due: setup-backend, test-root, build-root

Test Pipe pt.2
  .gitlab-ci.yml
  root/main.tf
Due: test-root, build-root

Test Pipe Again
  .gitlab-ci.yml
  root/main.tf
Due: test-root, build-root

Test Pipe Again?
  .gitlab-ci.yml
  root/main.tf
Due: test-root, build-root

Test Pipe Hope
  .gitlab-ci.yml
  root/main.tf
Due: test-root, build-root

Test Pipe Again?
  .gitlab-ci.yml
  statefile-locking/outputs.tf
Due: setup-backend

Renamed S3 to see if there's a difference
  root/main.tf
  statefile-locking/main.tf
Due: setup-backend, test-root, build-root

Separated the stages
  .gitlab-ci.yml
  root/main.tf
  statefile-locking/main.tf
Due: setup-backend, test-root, build-root

Test Pipe
  .gitlab-ci.yml
  root/main.tf
  statefile-locking/main.tf
Due: setup-backend, test-root, build-root

Filter gibberish characters
  .gitlab-ci.yml
  root/main.tf
  statefile-locking/main.tf
Due: setup-backend, test-root, build-root

Match Names
  .gitlab-ci.yml
  root/main.tf
  statefile-locking/main.tf
Due: setup-backend, test-root, build-root

Bucket
  root/main.tf
  statefile-locking/main.tf
Due: setup-backend, test-root, build-root

Simplified
  .gitlab-ci.yml
  root/main.tf
  statefile-locking/main.tf
Due: setup-backend, test-root, build-root

Simplified
  .gitlab-ci.yml
  root/main.tf
Due: test-root, build-root

Test Pipe
  .gitlab-ci.yml
  CHANGELOG.md
  root/main.tf
Due: test-root, build-root

Modified Pipeline
  root/main.tf
  root/outputs.tf
Due: test-root, build-root

Added Notification Service
  .gitlab-ci.yml
  root/main.tf
Due: test-root, build-root

Test Pipe Email
  .gitlab-ci.yml
  root/main.tf
Due: test-root, build-root

Test Pipe Email
  root/main.tf
  root/outputs.tf
Due: test-root, build-root

Documentation
  CHANGELOG.md
  README.md
  output/reqs/Projects.png
  output/s3/apply.png
  output/s3/s3-dash.png
  output/ses/00.png
  output/ses/01.png
  output/ses/02.png
  output/ses/03.png
  output/ses/04.png
  output/ses/05.png
Due: none

Documentation
  README.md
  output/exec/11.png
  output/exec/3.png
  output/gitlab/1.png
  output/gitlab/10.png
  output/gitlab/2.png
  output/gitlab/4.png
  output/gitlab/5.png
  output/gitlab/6.png
  output/gitlab/7.png
  output/gitlab/8.png
  output/gitlab/9.png
  statefile-locking/main.tf
Due: setup-backend

Arc Diagram Update
  README.md
  output/reqs/Projects.png
  output/reqs/SA-ArcDia.png
Due: none
